<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>login.html</title>
    <meta charSet="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!--
        Created by William Novak <william.novak@madeiramadeira.com.br> in 2019-07-18 10:00
        Last update is 2019-07-18 10:33
    -->

  </head>
  <body>
    <div class="container">
      <form>
          <input type="submit" class="button button--blue" value="entrar" />
          <a href="#" class="log-in__forget-password">Esqueci minha senha</a>
      </form>
    </div>
  </body>
</html>