html
  -moz-osx-font-smoothing: grayscale // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased // sass-lint:disable-line no-vendor-prefixes
  min-width: $body-min-width
  overflow-x: $body-overflow-x
  overflow-y: $body-overflow-y
  text-rendering: $body-rendering
  text-size-adjust: 100%

.venom
  body,
  button,
  input,
  select,
  textarea,
  span,
  small,
  strong,
  i
    color: currentColor
    +border-box

  article,
  aside,
  figure,
  footer,
  header,
  hgroup,
  section
    display: block
    +border-box

  div
    +border-box

  code,
  pre
    -moz-osx-font-smoothing: auto // sass-lint:disable-line no-vendor-prefixes
    -webkit-font-smoothing: auto // sass-lint:disable-line no-vendor-prefixes
    font-family: $family-monospace

  body
    background-color: $color-black-100
    color: $text
    font-family: $family-sans-serif
    font-weight: $weight-regular
    letter-spacing: 0.25px
    font-size: $size-regular
    line-heifht: 20px

  a
    color: $color-secondary
    cursor: pointer
    text-decoration: none
    +border-box

    strong
      color: currentColor

      &:hover
        color: $color-secondary-600

      &:active
        color: $color-secondary-400

      &:visited
        color: $color-secondary-800

  hr
    border-width: 0
    display: block
    height: 1px
    width: 100%
    +clearfix

  img
    height: auto
    width: 100%

  input[type='checkbox'], // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
  input[type='radio'] // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
    vertical-align: baseline

  button,
  textarea,
  select,
  input
    outline: none
    +border-box

  small
    font-size: $size-small
    line-height: 16px
    font-weight: inherit

  span
    font-style: inherit
    font-weight: inherit

  strong
    font-weight: $weight-bold

  fieldset
    border-width: 0

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p
    color: currentColor
    margin: $zero
    padding: $zero
    max-width: 100%
    +border-box
    +clearfix

  p
    font-size: $size-regular
    line-height: 20px
    color: $color-black-700

  article
    p + p
      margin-bottom: $gap-default

  h1
    font-size: 32px
    line-height: 48px
    font-weight: $weight-light
    letter-spacing: 0.25px

  h2
    font-size: 28px
    line-height: 40px
    font-weight: $weight-light
    letter-spacing: 0.18px

  h3
    font-size: 24px
    line-height: 36px
    font-weight: $weight-light

  h4
    font-size: 20px
    line-height: 30px
    font-weight: $weight-semibold
    letter-spacing: 0.25px

  h5
    font-size: 18px
    line-height: 24px
    font-weight: $weight-semibold
    letter-spacing: 0.5px

  h6
    font-size: 18px
    line-height: 24px
    font-weight: $weight-semibold
    letter-spacing: 0.25px

  pre
    overflow-x: auto
    white-space: pre
    word-wrap: normal
    padding: $gap-regular !important
    margin: 0 !important
    +clearfix

    &:after
      content: ""
      display: none

    code
      background-color: transparent
      color: currentColor
      padding: $zero
      white-space: pre
      word-wrap: normal

  table
    td,
    th
      vertical-align: top

      &:not([align])
        text-align: left

  svg
    path
      &:not([fill])
        fill: currentColor

  [class*="-success"]
    svg
      path
        &:not([fill])
          fill: $color-success

  [class*="-danger"]
    svg
      path
        &:not([fill])
          fill: $color-danger

  [class*="-warning"]
    svg
      path
        &:not([fill])
          fill: $color-warning
