html
  -moz-osx-font-smoothing: grayscale // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased // sass-lint:disable-line no-vendor-prefixes
  min-width: $body-min-width
  overflow-x: $body-overflow-x
  overflow-y: $body-overflow-y
  text-rendering: $body-rendering
  text-size-adjust: 100%

.venom
  body,
  button,
  input,
  select,
  textarea,
  span,
  small,
  strong,
  i
    +border-box
    color: currentColor

  article,
  aside,
  figure,
  footer,
  header,
  hgroup,
  section
    +border-box
    display: block

  div
    +border-box

  code,
  pre
    -moz-osx-font-smoothing: auto // sass-lint:disable-line no-vendor-prefixes
    -webkit-font-smoothing: auto // sass-lint:disable-line no-vendor-prefixes
    font-family: $family-monospace

  body
    background-color: $background-color
    color: $text
    font-family: $family-sans-serif
    font-weight: $weight-regular
    font-size: $size-regular

  a
    +border-box
    color: $color-secondary
    cursor: pointer
    text-decoration: none

    strong
      color: currentColor

      &:hover
        color: $color-secondary-dark

      &:active
        color: $color-secondary-light

      &:visited
        color: $color-secondary-darkness

  hr
    +clearfix
    border-width: 0
    display: block
    height: 1

  img
    height: auto
    max-width: 100%

  input[type='checkbox'], // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
  input[type='radio'] // sass-lint:disable-line no-qualifying-elements force-attribute-nesting
    vertical-align: baseline

  button,
  textarea,
  select,
  input
    +border-box
    outline: none

  small
    font-size: $size-small
    font-weight: inherit

  span
    font-style: inherit
    font-weight: inherit

  strong
    font-weight: $weight-bold

  fieldset
    border-width: 0

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p
    +border-box
    color: currentColor
    line-height: 1.25
    margin: $zero
    padding: $zero
    width: 100%

  p + p
    margin-bottom: $gap-default

  h1
    +clearfix
    font-size: $size-ultra-large
    font-weight: $weight-bold

  h2
    +clearfix
    font-size: $size-extra-large
    font-weight: $weight-bold

  h3
    +clearfix
    font-size: $size-large
    font-weight: $weight-semibold

  h1 + h2,
  h2 + h3,
  h2 + p,
  h3 + p
    margin-top: $gap-regular

  pre
    +clearfix
    overflow-x: auto
    white-space: pre
    word-wrap: normal

    code
      background-color: transparent
      color: currentColor
      padding: 0

  table
    td,
    th
      vertical-align: top

      &:not([align])
        text-align: left
