@import 'colors'

// normalize
$body-min-width: 300px !default
$body-rendering: optimizeLegibility !default
$body-overflow-x: hidden !default
$body-overflow-y: scroll !default

// font-family
$family-sans-serif: BlinkMacSystemFont, -apple-system, 'Open Sans', sans-serif !default
$family-monospace: monospace !default

// font-size
$size-extra-small: 12px !default
$size-small: 12px !default
$size-regular: 14px !default
$size-large: 16px !default
$size-extra-large: 20px !default
$size-ultra-large: 32px !default

// font-weight
$weight-light: 300 !default
$weight-regular: 400 !default
$weight-semibold: 600 !default
$weight-bold: 700 !default

// text
$render-mode: optimizeLegibility !default
$text: $color-text !default

// size
$zero: 0 !default
$base: 4px !default
$border-width-large: 2px !default
$border-width-large-retina: 1.5px !default
$border-width: 1px !default
$border-width-retina: .5px !default
$border-color: $color-black-400 !default
$border-color-flat: $color-black-300 !default

// gap
$column-width: 80px !default

$gap-extra-small: $base !default
$gap-small: ($base * 2) !default
$gap-regular: ($base * 3) !default
$gap-large: ($base * 5) !default
$gap-extra-large: ($base * 8) !default

$gap-default: $gap-large !default

$mobile-width: 414px   !default
$tablet-width: 768px   !default
$desktop-width: 1260px  !default

$mobile-column-gap: $gap-small   !default
$tablet-column-gap: $gap-regular !default
$desktop-column-gap: $gap-regular !default

$columns: 12 !default

// miscellaneous
$easing: ease-in !default
$radius-small: ($base / 2) !default
$radius: $base !default
$radius-large: ($base * 2) !default
$radius-rounded: 290486px !default
$transition: 86ms !default
$transition-medium: ($transition * 2) !default
$transition-low: ($transition-medium * 2) !default
$transition-click: 400ms !default
$content: ' '
