.tab
  $self: &
  background: inherit
  display: flex
  flex-direction: row
  height: 100%
  padding: $zero
  width: 100%

  &--has-scroll
    overflow-x: auto

  &__item
    background-position: center
    border-bottom: transparent solid 2px
    color: $color-black-800
    cursor: pointer
    flex-grow: 1
    flex-shrink: $zero
    justify-content: center
    margin: 0 $gap-extra-small -1px
    min-width: 150px
    overflow: hidden
    padding: $gap-regular
    position: relative
    text-align: center
    transition: background $transition-click
    user-select: none

    &:hover,
    &:focus
      background: $color-black-300 radial-gradient(circle, transparent 1%, $color-black-400 1%) center / 15000%
      background-color: $color-black-400

    &:active
      background-size: 100%
      transition: background 0s

    &#{$self}--has-indicator
      background: $color-black-300
      border-bottom: $color-secondary solid 2px

+for-size(mobile)
  overflow-x: auto
