@import 'helpers'

.buttons
  display: flex
  flex-direction: row
  overflow-x: scroll
  padding: $gap-extra-small $zero
  scroll-direction: horizontal // sass-lint:disable-line no-misspelled-properties

  .button
    &:not(:last-child):not(.helper--is-full-width) // sass-lint:disable-line force-pseudo-nesting
      margin-right: $gap-regular

.button
  $self: '.button'
  +flex-center(row)
  background-color: transparent
  background-position: center
  border: transparent solid $border-width
  border-radius: $radius
  color: $color-secondary
  cursor: pointer
  float: left
  font-size: $size-large
  font-weight: $weight-semibold
  line-height: 22px
  max-width: auto
  outline: none
  padding: $gap-small $gap-regular
  transition: background-color $transition $easing, border-color $transition $easing, color $transition $easing, background $transition-click
  width: auto

  &__icon
    display: flex
    justify-content: center
    width: 28px

    svg
      path // sass-lint:disable-line nesting-depth
        &:not([fill]) // sass-lint:disable-line nesting-depth
          fill: currentColor

  &__text
    flex: 1
    flex-basis: 100%

  &--has-content-center
    #{$self}__text
      flex: $zero
      flex-basis: 100%

  &:hover
    background: $color-secondary-100

  &:focus
    background: $color-secondary-200 radial-gradient(circle, transparent 1%, $color-secondary-100 1%) center / 15000%

  &:active
    background-size: 100%
    transition: background 0s, border 0s

  &:disabled,
  &#{$self}--is-disabled
    border-color: transparent
    color: $color-black-400
    cursor: default
    pointer-events: none

  &#{$self}--is-outline
    background-color: $color-white
    border-color: $color-secondary-800
    box-shadow: none
    color: $color-secondary-800

    &:hover,
    &:focus,
    &:active
      border-color: $color-secondary-800
      color: $color-secondary-800

    &:disabled,
    &#{ $self }--is-disabled
      border-color: $color-black-300
      color: $color-black-400

  &#{$self}--is-link
    text-decoration: underline

  @each $color, $value in $color-regular-map
    &#{$self}--is-#{ $color }
      +box-shadow
      background-color: map-get($color-regular-map, $color)
      border-color: map-get($color-regular-map, $color)
      color: map-get($color-contrast-map, $color)

      &:hover
        background: map-get($color-dark-map, $color)

      &:focus
        background: map-get($color-dark-map, $color) radial-gradient(circle, transparent 1%, map-get($color-regular-map, $color) 1%) center / 15000%

      &:active
        background-size: 100%
        box-shadow: $zero 1px 1px $color-shadow-light, $zero 1px 1px $color-shadow
        transition: background 0s

        &#{ $self }--is-dragged
          box-shadow: $zero 4px 4px $color-shadow-light

      &:disabled,
      &#{ $self }--is-disabled
        background-color: $color-black-300
        border-color: $color-black-300

      &#{ $self }--is-outline
        background-color: $color-white
        border-color: map-get($color-regular-map, $color)
        box-shadow: none
        color: map-get($color-regular-map, $color)

        &:hover
          background: map-get($color-lightness-map, $color)

        &:focus
          background: map-get($color-light-map, $color) radial-gradient(circle, transparent 1%, map-get($color-contrast-map, $color) 1%) center / 15000%

        &:active
          background-size: 100%
          border-color: map-get($color-dark-map, $color)
          color: map-get($color-dark-map, $color)
          transition: background 0s

        &:disabled,
        &#{ $self }--is-disabled
          background-color: $color-white
          border-color: $color-black-300
          color: $color-black-400

      &#{ $self }--is-link
        background-color: transparent
        color: map-get($color-regular-map, $color)

        &:hover
          background-color: map-get($color-lightness-map, $color)

        &:focus
          background: map-get($color-light-map, $color) radial-gradient(circle, transparent 1%, map-get($color-contrast-map, $color) 1%) center / 15000%

        &:active
          background-size: 100%
          border-color: map-get($color-dark-map, $color)
          color: map-get($color-dark-map, $color)
          transition: background 0s
