.button
  &.button
    &--extra-small
      border-radius: $radius-small
      font-size: $size-small
      padding: $gap-extra-small

    &--small
      border-radius: $radius-small
      font-size: $size-small
      padding: $gap-small

    &--large
      font-size: $size-large
      padding: $gap-large

    &--extra-large
      font-size: $size-extra-large
      padding: $gap-extra-large

.button__group
  border: solid $border-width $border-color
  border-radius: $radius
  display: flex
  flex-direction: row
  overflow: hidden
  padding: $zero

  .button
    border-radius: $zero
    border-width: $zero

+for-retina
  .button__group
    border-width: $border-width-retina
