$color-black:            hsl(0, 0%, 5%) !default
$color-grey-darkness:    hsl(0, 0%, 20%) !default
$color-grey-dark:        hsl(0, 0%, 30%) !default
$color-grey:             hsl(0, 0%, 50%) !default
$color-grey-light:       hsl(0, 0%, 70%) !default
$color-grey-lightness:   hsl(0, 0%, 90%) !default
$color-white:            hsl(0, 0%, 100%) !default
