.container
  margin: 0 auto

  &--full-width
    max-width: 100%
    width: 100vw

+for-size(mobile)
  .container
    max-width: 100%
    width: 100vw

+for-size(tablet)
  .container
    max-width: 100%
    width: 100vw

+for-size(tablet)
  .container
    max-width: 100%
    width: 100vw

+for-size(desktop)
  .container
    max-width: $desktop
    width: $desktop

+for-size(widescreen)
  .container
    max-width: $widescreen
    width: $widescreen
