.grid
  &__row
    display: flex
    flex-direction: row
    flex-flow: row wrap;
    max-width: 100%
    width: 100%

    &--reverse
      flex-direction: row-reverse

  &__columns
    display: flex
    flex-direction: column
    flex-flow: column nowrap;
    max-width: 100%
    width: 100%

    &--reverse
      flex-direction: column-reverse

  &__column
    display: flex
    flex: 1
    max-width: 100%
    position: relative

    &--vertical
      flex-direction: column

    @each $name, $count in $numbers
      &--#{$name}
        flex-grow: $count
        max-width: ($count / 12) * 100%

      &--offset-#{$name}
        margin-left: ($count / 12) * 100%

  +for-size(mobile)
    &__row
      &:not([class*='--fixed'])
        flex-direction: column

      &--reverse
        &:not([class*='--fixed'])
          flex-direction: column-reverse

    &__column
      &:not([class*='--fixed'])
        flex-grow: auto
        max-width: 100%

  +for-size(tablet)
    &__row
      &:not([class*='--fixed'])
        flex-direction: column

      &--reverse
        &:not([class*='--fixed'])
          flex-direction: column-reverse
