.grid
  &--is-flex
    display: flex
    flex-wrap: wrap

  &--has-content-start
    justify-content: flex-start

  &--has-content-center
    justify-content: center

  &--has-content-end
    justify-content: flex-end

  &--has-items-start
    align-items: flex-start

  &--has-items-center
    align-items: center

  &--has-items-end
    align-items: flex-end

  &--has-self-align-start
    align-self: flex-start

  &--has-self-align-center
    align-self: flex-center

  &--has-self-align-end
    align-self: flex-end

  &--has-no-wrap
    flex-wrap: nowrap
