.grid

  &--flex
    display: flex

  &--start
    justify-content: flex-start

  &--center
    align-items: center
    justify-content: center

  &--end
    justify-content: flex-end

  &--top
    align-items: flex-start

  &--bottom
    align-items: flex-end

  &--space-around
    justify-content: space-around

  &--space-between
    justify-content: space-between

  &--first
    order: -1

  &--last
    order: 1

  &--no-wrap
    flex-wrap: nowrap
