.helper

  &--has-background
    @each $color, $value in $color-regular-map
      &-#{$color}
        background-color: $value !important // sass-lint:disable-line no-important


    &-white
      background-color: $color-white !important // sass-lint:disable-line no-important

    &-grey-one
      background-color: $color-black-100 !important // sass-lint:disable-line no-important

    &-grey-two
      background-color: $color-black-200 !important // sass-lint:disable-line no-important

    &-grey-three
      background-color: $color-black-300 !important // sass-lint:disable-line no-important

    &-grey-four
      background-color: $color-black-400 !important // sass-lint:disable-line no-important

    &-grey-five
      background-color: $color-black-500 !important // sass-lint:disable-line no-important

    &-grey-six
      background-color: $color-black-600 !important // sass-lint:disable-line no-important

    &-grey-seven
      background-color: $color-black-700 !important // sass-lint:disable-line no-important

    &-grey-eight
      background-color: $color-black-800 !important // sass-lint:disable-line no-important

    &-success-one
      background-color: $color-success-100 !important // sass-lint:disable-line no-important

    &-success-two
      background-color: $color-success-200 !important // sass-lint:disable-line no-important

    &-success-three
      background-color: $color-success-300 !important // sass-lint:disable-line no-important

    &-success-four
      background-color: $color-success-400 !important // sass-lint:disable-line no-important

    &-success-five
      background-color: $color-success-500 !important // sass-lint:disable-line no-important

    &-success-six
      background-color: $color-success-600 !important // sass-lint:disable-line no-important

    &-success-seven
      background-color: $color-success-700 !important // sass-lint:disable-line no-important

    &-success-eight
      background-color: $color-success-800 !important // sass-lint:disable-line no-important
