.helper
  &--cleafix
    +clearfix

  &--hidden
    display: none !important // sass-lint:disable-line no-important

  &--pointer
    cursor: pointer

  &--no-margin
    margin: $zero

  &--no-padding
    padding: $zero

  &--no-radius
    border-radius: $zero

  &--no-border
    border-width: $zero

  &--no-shadow
    box-shadow: none

  &--relative
    position: relative

  &--full-width
    box-sizing: border-box
    width: 100%

  &--max-full-width
    box-sizing: border-box
    max-width: 100%

  &--full-height
    box-sizing: border-box
    height: 100%

  &--max-full-height
    box-sizing: border-box
    max-height: 100%

  &--with-gap-extra-small
    box-sizing: border-box
    padding: $gap-small

  &--with-gap-small
    box-sizing: border-box
    padding: $gap-small

  &--with-gap
    box-sizing: border-box
    padding: $gap

  &--with-gap-large
    box-sizing: border-box
    padding: $gap-large

  &--with-gap-extra-large
    box-sizing: border-box
    padding: $gap-extra-large

  &--border
    border: solid $border-width $border-color-flat
    border-radius: $radius
    box-sizing: border-box

  &--full-height-viewport
    height: calc(100vh - #{ $gap * 2 })

  &--with-radius
    border-radius: $radius

  &--with-margin
    margin: $gap

    &-left
      margin-left: $gap

      &-extra-small
        margin-left: $gap-extra-small

      &-small
        margin-left: $gap-small

      &-large
        margin-left: $gap-large

      &-extra-large
        margin-left: $gap-extra-large

    &-right
      margin-right: $gap

      &-extra-small
        margin-right: $gap-extra-small

      &-small
        margin-right: $gap-small

      &-large
        margin-right: $gap-large

      &-extra-large
        margin-right: $gap-extra-large

    &-top
      margin-top: $gap

      &-extra-small
        margin-top: $gap-extra-small

      &-small
        margin-top: $gap-small

      &-large
        margin-top: $gap-large

      &-extra-large
        margin-top: $gap-extra-large

    &-bottom
      margin-bottom: $gap

      &-extra-small
        margin-bottom: $gap-extra-small

      &-small
        margin-bottom: $gap-small

      &-large
        margin-bottom: $gap-large

      &-extra-large
        margin-bottom: $gap-extra-large

    &-large
      margin: $gap-large

    &-vertical
      margin-bottom: $gap
      margin-top: $gap

      &-extra-small
        margin-bottom: $gap-extra-small
        margin-top: $gap-extra-small

      &-small
        margin-bottom: $gap-small
        margin-top: $gap-small

      &-large
        margin-bottom: $gap-large
        margin-top: $gap-large

      &-extra-large
        margin-bottom: $gap-extra-large
        margin-top: $gap-extra-large

    &-horizontal
      margin-left: $gap
      margin-right: $gap

      &-extra-small
        margin-left: $gap-extra-small
        margin-right: $gap-extra-small

      &-small
        margin-left: $gap-small
        margin-right: $gap-small

      &-large
        margin-left: $gap-large
        margin-right: $gap-large

      &-extra-large
        margin-left: $gap-extra-large
        margin-right: $gap-extra-large

  &--color
    &-white
      color: $color-white

    &-grey
      color: $color-grey

    &-black
      color: $color-black

    @each $color, $value in $color-regular-map
      &-#{$color}
        color: $value


  &--background
    @each $color, $value in $color-regular-map
      &-#{$color}
        background-color: $value

  +for-size(mobile)
    &--hidden-mobile
      display: none

  +for-size(tablet)
    &--hidden-tablet
      display: none

  +for-retina
    &--border
      border-width: $border-width-retina
