.helper
  &--cleafix
    +clearfix

  &--no-margin
    margin: $zero

  &--no-padding
    padding: $zero

  &--no-radius
    border-radius: $zero

  &--no-border
    border-width: 0

  &--no-shadow
    box-shadow: none

  &--relative
    position: relative

  &--full-width
    box-sizing: border-box
    width: 100%

  &--max-full-width
    box-sizing: border-box
    max-width: 100%

  &--full-height
    box-sizing: border-box
    height: 100%

  &--max-full-height
    box-sizing: border-box
    max-height: 100%

  &--with-gap-small
    box-sizing: border-box
    padding: $gap-small

  &--with-gap
    box-sizing: border-box
    padding: $gap

  &--with-gap-large
    box-sizing: border-box
    padding: $gap-large

  &--with-border
    border: solid $border-width $border-color-flat
    border-radius: $radius
    box-sizing: border-box

  &--margin
    margin: $gap

    &-left
      margin-left: $gap

      &-large
        margin-left: $gap-large

    &-right
      margin-right: $gap

      &-large
        margin-right: $gap-large

    &-top
      margin-top: $gap

      &-large
        margin-top: $gap-large

    &-bottom
      margin-bottom: $gap

      &-large
        margin-bottom: $gap-large

    &-large
      margin: $gap-large

    &-vertical
      margin-bottom: $gap
      margin-top: $gap

      &-large
        margin-bottom: $gap-large
        margin-top: $gap-large

    &-horizontal
      margin-left: $gap
      margin-right: $gap

      &-large
        margin-left: $gap-large
        margin-right: $gap-large

  &--color
    &-white
      color: $color-white

    &-grey
      color: $color-grey

    &-black
      color: $color-black

    @each $color, $value in $color-regular-map
      &-#{$color}
        color: $value


  &--background
    @each $color, $value in $color-regular-map
      &-#{$color}
        background-color: $value

  +for-size(mobile)
    &--hidden-mobile
      display: none

  +for-size(tablet)
    &--hidden-tablet
      display: none

  +for-retina
    &--with-border
      border-width: $border-width-retina
