$input-el: '.text-field'

.venom
  .modal
    overflow: hidden
    position: fixed
    left: $zero
    right: $zero
    top: $zero
    bottom: $zero
    background-color: hsla(0,0%,4%,.86)
    z-index: 100
    display: flex
    justify-content: center
    align-items: center

    &--is-hidden
      overflow: hidden

    @media screen and (min-width: $tablet-width)
      &__container
        max-width: 100vw
        max-height: 100vh

      &--is-hidden
        display: none

    &__container
      background-color: $color-white
      overflow-y: hidden
      display: flex
      flex-direction: column

    &__header
      position: relative

    &__body
      background-color: $color-white
      overflow-y: auto
      overflow-x: hidden
      max-height: 100%

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      span:not(.button__text),
      span:not(.button__icon)
        color: $color-black-700

      .input__marker
        background-color: $color-white !important
        color: $color-black-700 !important

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus
          -webkit-text-fill-color: $color-white;
          -webkit-box-shadow: 0 0 0px 1000px $color-white inset
          transition: background-color 5000s ease-in-out 0s

      .button
        $self: '.button'
        float: left
        background-color: transparent
        border-color: transparent
        border-width: $border-width
        border-style: solid
        border-radius: $radius
        color: $color-secondary !important
        cursor: pointer
        font-size: $size-large
        font-weight: $weight-semibold
        line-height: 22px
        outline: none
        padding: $gap-small $gap-regular
        transition: background-color $transition $easing, border-color $transition $easing, color $transition $easing, background $transition-click
        background-position: center
        width: auto
        max-width: auto
        +flex-center(row)

        #{$self}__icon
          display: flex
          width: 28px
          justify-content: center

          svg
            path
            &:not([fill])
              fill: currentColor

        &__text
          flex: 1
          flex-basis: 100%

        &--has-content-center
          #{$self}__text
            flex: $zero
            flex-basis: 100%

        &:hover
          background: $color-secondary-100

        &:focus
          background: $color-secondary-200 radial-gradient(circle, transparent 1%, $color-secondary-100 1%) center/15000%

        &:active
          background-size: 100%
          transition: background 0s, border 0s

        &:disabled,
        &--is-disabled
          color: $color-black-400
          border-color: transparent
          cursor: default
          pointer-events: none

        &--is-outline
          background-color: $color-white
          border-color: $color-secondary-800
          color: $color-secondary-800
          box-shadow: none

          &:hover,
          &:focus,
          &:active
            border-color: $color-secondary-800
            color: $color-secondary-800

          &:disabled,
          &#{ $self }--is-disabled
            color: $color-black-400
            border-color: $color-black-300

        &--is-link
          text-decoration: underline

        @each $color, $value in $color-regular-map
          &--is-#{ $color }
            background-color: map-get($color-regular-map, $color)
            border-color: map-get($color-regular-map, $color)
            color: map-get($color-contrast-map, $color)
            +box-shadow

            &:hover
              background: map-get($color-dark-map, $color)

            &:focus
              background: map-get($color-dark-map, $color) radial-gradient(circle, transparent 1%, map-get($color-regular-map, $color) 1%) center/15000%

            &:active
              box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.24)
              background-size: 100%
              transition: background 0s
              &#{ $self }--is-dragged
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.48)

            &:disabled,
            &#{ $self }--is-disabled
              background-color: $color-black-300
              border-color: $color-black-300

            &#{ $self }--is-outline
              box-shadow: none
              border-color: map-get($color-regular-map, $color)
              background-color: $color-white
              color: map-get($color-regular-map, $color)

              &:hover
                background: map-get($color-lightness-map, $color)

              &:focus
                background: map-get($color-light-map, $color) radial-gradient(circle, transparent 1%, map-get($color-contrast-map, $color) 1%) center/15000%

              &:active
                border-color: map-get($color-dark-map, $color)
                color: map-get($color-dark-map, $color)
                background-size: 100%
                transition: background 0s

              &:disabled,
              &#{ $self }--is-disabled
                background-color: $color-white
                border-color: $color-black-300
                color: $color-black-400

            &#{ $self }--is-link
              background-color: transparent
              color: map-get($color-regular-map, $color)

              &:hover
                background-color: map-get($color-lightness-map, $color)

              &:focus
                background: map-get($color-light-map, $color) radial-gradient(circle, transparent 1%, map-get($color-contrast-map, $color) 1%) center/15000%

              &:active
                border-color: map-get($color-dark-map, $color)
                color: map-get($color-dark-map, $color)
                background-size: 100%
                transition


      .text-field
        display: flex
        flex-direction: column
        position: relative
        width: 100%
        margin-bottom: $gap-regular
        +clearfix

        &__container
          border-radius: $radius
          border: solid $border-width $color-black-400
          padding: $zero
          max-width: 100%
          background-color: $color-white
          +clearfix

        &__helper
          font-size: $size-extra-small
          font-weight: $weight-regular
          margin: $base $gap-regular
          color: $color-black-700
          max-width: 100%
          display: block
          line-height: 16px

        &__label
          position: absolute
          top: $zero
          left: $zero
          padding: $gap-small $gap-regular $gap-small $gap-regular
          width: 100%
          transition: all $transition-medium ease
          cursor: text
          font-weight: $weight-regular
          font-size: $size-large
          line-height: 22px

        svg
          width: 18px
          height: 18px

          path
            &:not([fill])
              fill: $color-black-300

        input,
        textarea
          border: none
          border-radius: $radius
          padding: $gap-small $gap-regular
          background-color: $color-white !important
          margin: $zero
          width: 100%
          color: $color-black-700
          font-size: $size-large
          line-height: 22px
          +border-box

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus
            -webkit-text-fill-color: white;
            -webkit-box-shadow: 0 0 0px 1000px $color-white inset
            transition: background-color 5000s ease-in-out 0s


        input:not([type='checkbox']):focus,
        input:not([type='radio']):focus
          outline: none

        input:valid + #{$input-el}__label,
        input:focus + #{$input-el}__label,
        textarea:focus + #{$input-el}__label,
        &#{$input-el}--is-active #{$input-el}__label
          top: -( $gap-regular / 2)
          left: $gap-regular - 2px !important
          padding: 2px
          width: auto
          color: $color-black-700
          background-color: $color-white
          font-size: $size-small
          line-height: 1

        input:valid,
        input:focus,
        textarea:focus,
        &#{$input-el}--is-active
          input,
          textarea
            line-height: 20px !important

        &#{$input-el}--has-left-icon
          #{$input-el}__label
            left: $gap-regular * 3

          input,
          textarea
            padding-left: $zero

        &#{$input-el}--has-left-icon,
        &#{$input-el}--has-right-icon
          #{$input-el}__container
            display: flex
            flex-direction: row

          #{$input-el}__icon
            align-items: center
            display: flex
            justify-content: center
            width: $gap-regular * 3

        &#{$input-el}--has-left-icon
          #{$input-el}__label
            padding-left: $zero

        &#{$input-el}--is-active
          #{$input-el}__label,
          #{$input-el}__helper
            color: $color-secondary

          #{$input-el}__container
            border-width: $border-width * 2
            border-color: $color-secondary

        &#{$input-el}--is-danger
          #{$input-el}__label,
          #{$input-el}__helper
            color: $color-danger !important

          #{$input-el}__container
            border-color: $color-danger !important

        &#{$input-el}--is-success
          #{$input-el}__label,
          #{$input-el}__helper
            color: $color-success !important

          #{$input-el}__container
            border-color: $color-success !important

        &#{$input-el}--is-warning
          #{$input-el}__label,
          #{$input-el}__helper
            color: $color-warning !important

          #{$input-el}__container
            border-color: $color-warning !important

        &#{$input-el}--is-disabled
          #{$input-el}__container
            border-color: $color-black-500
            input
              color: $color-black-700

          #{$input-el}__label
            color: $color-black-600

    &__footer
      position: relative

  +for-size(tablet)
    .modal
      display: block
      transition: left $transition-low $easing
      width: 100%
      height: 100%

      &--is-hidden
        right: auto
        left: -300vh

      &__container
        width: 100%
        height: 100%

  +for-size(mobile)
    .modal
      display: block
      transition: left $transition-low $easing
      width: 100%
      height: 100%

      &--is-hidden
        right: auto
        left: -300vh

      &__container
        width: 100%
        height: 100%
