$modal-background-color: hsla($zero, $zero, 4%, .86)

.modal
  align-items: center
  background-color: $modal-background-color
  bottom: $zero
  display: flex
  justify-content: center
  left: $zero
  overflow: hidden
  position: fixed
  right: $zero
  top: $zero
  z-index: 100

  &--is-hidden
    overflow: hidden

  +for-size(mobile)
    &__container
      max-height: 100vh
      max-width: 100vw

    &--is-hidden
      display: none

  &__container
    background-color: $color-white
    display: flex
    flex-direction: column
    overflow-y: hidden

  &__header
    position: relative

  &__body
    background-color: $color-white
    max-height: 100%
    overflow-x: hidden
    overflow-y: auto

  &__footer
    position: relative

  +for-size(mobile)
    display: block
    height: 100%
    transition: left $transition-low $easing
    width: 100%

    &--is-hidden
      left: -300vh
      right: auto

    &__container
      height: 100%
      width: 100%
