.title
  +clearfix
  color: $color-black
  font-size: $size-extra-large
  font-weight: $weight-bold
  line-height: 1.1

  &--with-margin-bottom
    margin-bottom: $gap

  &--base-line
    line-height: 1

.subtitle
  +clearfix
  color: $color-grey-dark
  font-size: $size-regular
  font-weight: $weight-semibold
  line-height: 1.1

  &--with-margin-bottom
    margin-bottom: $gap

  &--base-line
    line-height: 1

.paragraph
  +clearfix
  color: $color-grey-dark
  font-size: $size-regular
  font-weight: $weight-regular
  line-height: 1.1

  &--base-line
    line-height: 1
