.loading
  background: $color-blur
  height: 100%
  position: absolute
  top: $zero
  width: 100%
  z-index: 101

  &__content
    align-items: center
    display: flex
    flex-direction: column
    height: 100%
    justify-content: center
    width: 100%

    > p
      color: $color-text
      flex: $zero
      margin-top: $gap-regular
      text-align: center

  &__icon
    flex: $zero

    > svg
      display: block
      height: 40px
      margin-left: -20px
      position: relative
      width: 40px
