$input-el: '.text-field'

.venom

  #{$input-el}
    +clearfix
    display: flex
    flex-direction: column
    position: relative
    width: 100%
    margin-bottom: $gap-regular

    #{$input-el}__container
      +clearfix
      border-radius: $radius
      border: solid $border-width $color-monotone-light
      padding: $zero
      max-width: 100%
      background-color: $color-white

    #{$input-el}__helper
      font-size: $size-extra-small
      font-weight: $weight-regular
      margin: $base $gap-regular
      color: $color-monotone
      max-width: 100%
      display: block
      line-height: $size-regular

    #{$input-el}__label
      position: absolute
      top: $zero
      left: $zero
      padding: $gap-regular
      max-width: 100%
      transition: all $transition-medium ease
      cursor: text

    input
      +border-box
      border: none
      border-radius: $radius
      padding: $gap-regular
      margin: $zero
      width: 100%
      font-size: $size-regular

    input:not([type='checkbox']):focus,
    input:not([type='radio']):focus
      outline: none

    input:focus + #{$input-el}__label,
    &#{$input-el}--is-active #{$input-el}__label
        top: -( $gap-regular / 2)
        left: $gap-regular - 2px !important
        padding: 2px
        width: auto
        background: $color-white
        font-size: $size-small
        line-height: 1

    &#{$input-el}--has-left-icon
      #{$input-el}__label
        left: $gap-regular * 4

    &#{$input-el}--has-left-icon,
    &#{$input-el}--has-right-icon
      #{$input-el}__container
        display: flex
        flex-direction: row

      #{$input-el}__icon
        align-items: center
        display: flex
        justify-content: center
        width: $gap-regular * 4

    &#{$input-el}--is-active
      #{$input-el}__label,
      #{$input-el}__helper
        color: $color-secondary

      #{$input-el}__container
        border-width: $border-width * 2
        border-color: $color-secondary

        input
          padding: $gap-regular - 1px

    &#{$input-el}--is-danger
      #{$input-el}__label,
      #{$input-el}__helper
        color: $color-danger !important

      #{$input-el}__container
        border-color: $color-danger !important

    &#{$input-el}--is-success
      #{$input-el}__label,
      #{$input-el}__helper
        color: $color-success !important

      #{$input-el}__container
        border-color: $color-success !important

    &#{$input-el}--is-warning
      #{$input-el}__label,
      #{$input-el}__helper
        color: $color-warning !important

      #{$input-el}__container
        border-color: $color-warning !important