$description: '.panel__description'

.panel
  $self: '.panel'
  background-color: $color-white

  &__body
    display: none
    height: $zero
    transition: height $transition-medium $easing

  &__arrow
    cursor: pointer

    svg
      margin-right: -4px
      transition: transform $transition-medium $easing

  &--is-open
    #{$self}__arrow
      svg
        transform: rotate(180deg)

    #{$self}__body
      display: block !important // sass-lint:disable-line no-important
      height: 100%

  &--has-description
    #{ $description }
      display: block

  &--has-no-description
    #{ $description }
      display: none !important // sass-lint:disable-line no-important
