.helper--has-tooltip
  position: ralative

  &:hover + .tooltip,
  &:focus + .tooltip
    left: 50%
    opacity: 1
    pointer-events: inherit
    top: $zero

.tooltip
  $self: &
  +box-shadow
  background: $color-black-500
  border-radius: $radius
  color: $color-white
  display: block
  font-size: $size-small
  opacity: $zero
  padding: $gap-regular
  pointer-events: none
  position: absolute
  text-align: center
  z-index: 5

  &:after // sass-lint:disable-line pseudo-element
    border-top: $radius solid $color-black-500

  &:hover
    opacity: 1
    pointer-events: inherit

  &#{$self}--is-bottom
    &:after // sass-lint:disable-line pseudo-element
      border: $gap-small solid transparent
      border-top: $gap-small solid $color-black-500
      bottom: -($gap-small * 2)
      content: $content
      display: block
      height: $zero
      left: calc(50% - #{$gap-small})
      margin: $zero auto
      position: absolute
      width: $zero

  &#{$self}--is-top
    &:after // sass-lint:disable-line pseudo-element
      border: $gap-small solid transparent
      border-bottom: $gap-small solid $color-black-500
      content: ''
      display: block
      height: $zero
      left: calc(50% - #{$radius})
      margin: $zero auto
      position: absolute
      top: -($gap-small * 2)
      width: $zero

  &#{$self}--is-right
    &:after // sass-lint:disable-line pseudo-element
      border: $gap-small solid transparent
      border-left: $gap-small solid $color-black-500
      content: ' '
      display: block
      height: $zero
      position: absolute
      right: -($gap-small * 2)
      top: calc(50% - #{$gap-small})
      width: $zero

  &#{$self}--is-left
    &:after // sass-lint:disable-line pseudo-element
      border: $gap-small solid transparent
      border-right: $gap-small solid $color-black-500
      content: ' '
      display: block
      height: $zero
      left: -($gap-small * 2)
      position: absolute
      top: calc(50% - #{$gap-small})
      width: $zero
