.venom
  .helper

    &--has-no-gap
      padding: $zero !important

    &--has-gap
      padding: $gap-regular !important

      &-left
        padding-left: $gap-regular !important

      &-right
        padding-right: $gap-regular !important

      &-top
        padding-top: $gap-regular !important

      &-bottom
        padding-bottom: $gap-regular !important

      &-vertical
        padding-bottom: $gap-regular !important
        padding-top: $gap-regular !important

      &-horizontal
        padding-left: $gap-regular !important
        padding-right: $gap-regular !important

    +for-size(tablet)
      &--has-no-gap-tablet
        padding: $zero !important

      &--has-gap-tablet
        padding: $gap-regular !important

      &--has-gap
        padding: $gap-regular !important

        &-left-tablet
          padding-left: $gap-regular !important

        &-right-tablet
          padding-right: $gap-regular !important

        &-top-tablet
          padding-top: $gap-regular !important

        &-bottom-tablet
          padding-bottom: $gap-regular !important

        &-vertical-tablet
          padding-bottom: $gap-regular !important
          padding-top: $gap-regular !important

        &-horizontal-tablet
          padding-left: $gap-regular !important
          padding-right: $gap-regular !important

    +for-size(mobile)
      &--has-no-gap-mobile
        padding: $zero !important

      &--has-gap-mobile
        padding: $gap-regular !important

      &--has-gap
        padding: $gap-regular !important

        &-left-mobile
          padding-left: $gap-regular !important

        &-right-mobile
          padding-right: $gap-regular !important

        &-top-mobile
          padding-top: $gap-regular !important

        &-bottom-mobile
          padding-bottom: $gap-regular !important

        &-vertical-mobile
          padding-bottom: $gap-regular !important
          padding-top: $gap-regular !important

        &-horizontal-mobile
          padding-left: $gap-regular !important
          padding-right: $gap-regular !important
