.venom
  .helper

    &--has-scroll-horizontal
      overflow-x: scroll
      padding-top: $gap-small
      padding-bottom: $gap-small

    &--has-no-scroll
      overflow: hidden !important

    &--is-on-left
      float: left

    &--is-on-right
      float: right

    &--is-no-list-style
      list-style: none
      margin: $zero
      padding: $zero

    &--is-clearfix
      +clearfix

    &--is-block
      display: block

    &--is-inline
      display: inline

    &--is-relative
      position: relative

    &--has-pointer
      cursor: pointer

    &--is-full-width
      width: 100% !important
      +border-box

    &--is-full-height
      height: 100% !important

    &--is-hidden
      display: none !important

    +for-size(desktop)
      &--is-hidden-desktop
        display: none !important

    +for-size(tablet)
      &--is-hidden-tablet
        display: none !important

    +for-size(mobile)
      &--is-hidden-mobile
        display: none !important