=clearfix
  &::after
    clear: both
    content: $content
    display: table

=border-box
  box-sizing: border-box !important // sass-lint:disable-line no-important

=flex-center($direction)
  align-content: center
  align-items: center
  align-self: center
  display: flex
  flex-direction: $direction
  justify-content: center

=unselectable
  -moz-user-select: none // sass-lint:disable-line no-vendor-prefixes
  -ms-user-select: none // sass-lint:disable-line no-vendor-prefixes
  -webkit-touch-callout: none // sass-lint:disable-line no-vendor-prefixes
  -webkit-user-select: none // sass-lint:disable-line no-vendor-prefixes
  user-select: none

=box-shadow
  box-shadow: $zero 2px 2px $color-shadow, $zero $zero 2px $color-shadow $color-shadow-light

=box-shadow-large
  box-shadow: $zero 4px 8px $color-shadow-light

=box-shadow-large-top
  box-shadow: 4px $zero 8px $color-shadow-light


%unselectable
  +unselectable

=for-size($range)
  @if $range == mobile
    @media screen and (max-width: $mobile-width)
      @content
  @else if $range == tablet
    @media screen and (min-width: $mobile-width + 1px) and (max-width: $tablet-width)
      @content
  @else
    @media screen and (min-width: $tablet-width + 1px)
      @content

=for-retina
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) // sass-lint:disable-line no-vendor-prefixes space-around-operator
    @content

=optional-at-root($sel)
  @at-root #{if(not &, $sel, selector-append(&, $sel))}
    @content

=placeholder
  +optional-at-root('::-webkit-input-placeholder')
    @content

  +optional-at-root(':-moz-placeholder')
    @content

  +optional-at-root('::-moz-placeholder')
    @content

  +optional-at-root(':-ms-input-placeholder')
    @content
