.pricetag
  $self: &
  background: $color-black-300
  border: $zero solid $color-black-300
  border-bottom-width: 1px
  border-top-width: 1px
  color: $color-white
  display: inline-block
  height: $gap-regular * 2
  line-height: $gap-regular * 2
  margin: $zero
  padding: $zero $gap-regular
  position: relative
  white-space: nowrap

  &#{$self}--is-success
    background: $color-success
    border: $zero solid $color-success

    &:before // sass-lint:disable-line pseudo-element
      border-right: $gap-regular solid $color-success !important // sass-lint:disable-line no-important

  &#{$self}--is-danger
    background: $color-danger
    border: 0 solid $color-danger

    &:before // sass-lint:disable-line pseudo-element
      border-right: $gap-regular solid $color-danger !important // sass-lint:disable-line no-important

  &#{$self}--is-primary
    background: $color-primary
    border: 0 solid $color-primary

    &:before // sass-lint:disable-line pseudo-element
      border-right: $gap-regular solid $color-secondary !important // sass-lint:disable-line no-important

  &#{$self}--is-secondary
    background: $color-secondary
    border: 0 solid $color-secondary

    &:before // sass-lint:disable-line pseudo-element
      border-right: $gap-regular solid $color-secondary !important // sass-lint:disable-line no-important

  &:before // sass-lint:disable-line pseudo-element
    border-bottom: $gap-regular solid transparent
    border-right: $gap-regular solid $color-black-300
    border-top: $gap-regular solid transparent
    content: $content
    font-size: $size-regular
    height: $zero
    left: -$gap-regular
    line-height: $zero
    position: absolute
    text-indent: $size-regular
    top: $zero
    width: $zero
