.venom
  .container
    $self: '.container'
    margin: $zero auto
    width: 100%
    padding-left: ($desktop-column-gap * 2)
    padding-right: ($desktop-column-gap * 2)

    &--is-full-width
      max-width: 100% !important
      width: 100% !important
      padding: $zero !important

  +for-size(desktop)
    .container
      width: $desktop-width

  +for-size(mobile)
    .container
      margin: $zero
      padding-left: ($mobile-column-gap * 2)
      padding-right: ($mobile-column-gap * 2)

      &--is-full-width
        max-width: 100vw !important
        width: 100vw !important
        padding: $zero !important