.venom
  .container
    $self: '.container'
    margin: 0 auto
    width: 100%

    &--is-full-width
      max-width: 100% !important
      width: 100% !important

  +for-size(desktop)
    .container
      width: $desktop-width

  +for-size(mobile)
    .container
      // margin: 0 -24px !important
      // width: calc(100% + 48px) !important

  +for-size(tablet)
    .container
      max-width: $tablet-width
      width: $tablet-width