.venom
  .grid__row
    display: flex
    flex: 0 1 auto
    flex-direction: row
    flex-wrap: wrap
    margin: $zero
    padding: $desktop-column-gap $zero
    width: 100%
    +border-box

    &--is-reverse
      flex-direction: row-reverse

    &--has-no-gap
      padding: $zero

  .grid__columns
    display: flex
    flex-direction: column
    margin: $zero
    padding: $desktop-column-gap $zero
    width: 100%
    +border-box

    &--is-reverse
      flex-direction: column-reverse

    &--has-no-gap
      padding: $zero

  .grid--is-table
    padding: $zero
    margin: $zero

    > .grid__column
      padding: $zero
      margin: $zero
      max-width: 100%

      @each $name, $count in $numbers
        &--is-#{$name},
        &--is-#{$name}-tablet,
        &--is-#{$name}-mobile
          flex-basis: $count
          max-width: $count

  .grid__column
    flex: $zero $zero auto
    min-height: 1px
    flex-grow: 1
    flex-basis: $zero
    padding: $zero
    margin: $zero $desktop-column-gap
    max-width: 100%
    +border-box

    &--is-first
      order: -1

    &--is-last
      order: 1

    @each $name, $count in $numbers
      &--is-#{$name}
        flex-basis: calc(#{ $count } - #{ $desktop-column-gap * 2 })
        width: calc(#{ $count } - #{ $desktop-column-gap * 2 })
        max-width: calc(#{ $count } - #{ $mobile-column-gap * 2 })

        &.helper--has-no-margin
          flex-basis: $count
          width: $count
          max-width: $count

    &--is-auto
      flex: $zero $zero auto
      width: auto

  +for-size(tablet)
    .grid__column
      margin: $zero $mobile-column-gap

      @each $name, $count in $numbers
        &--is-#{$name}-tablet
          flex-basis: calc(#{ $count } - #{ $mobile-column-gap * 2 })
          width: calc(#{ $count } - #{ $mobile-column-gap * 2 })
          max-width: calc(#{ $count } - #{ $mobile-column-gap * 2 })

          &.helper--has-no-margin-tablet
            flex-basis: $count !important
            width: $count !important
            max-width: $count !important

      &--is-first-tablet
        order: -1

      &--is-last-tablet
        order: 1

  +for-size(mobile)
    .grid__column
      margin: $zero $mobile-column-gap

      @each $name, $count in $numbers
        &--is-#{$name}-mobile
          flex-basis: calc(#{ $count } - #{ $mobile-column-gap * 2 })
          width: calc(#{ $count } - #{ $mobile-column-gap * 2 })
          max-width: calc(#{ $count } - #{ $mobile-column-gap * 2 })

          &.helper--has-no-margin-mobile
            flex-basis: $count !important
            width: $count !important
            max-width: $count !important

      &--is-first-mobile
        order: -1

      &--is-last-mobile
        order: 1