.venom
  .card
    width: 100%
    +border-box

    &--is-double-border
      border-width: 2px

    @each $color, $value in $color-regular-map
      &--is-#{$color}
        border: solid 1px map-get($color-regular-map, $color) !important
