.venom
  .card
    width: 100%
    +border-box

    &--is-double-border
      border-width: 2px !important

    @each $color, $value in $color-regular-map
      &--is-#{$color}
        border-width: 1px
        border-style: solid
        border-color: map-get($color-regular-map, $color) !important
