@import 'helpers'

.venom
  .button
    $self: '.button'
    +box-shadow
    +flex-center(row)
    background-color: $color-white
    border-color: $color-white
    border-radius: $radius
    border-style: solid
    border-width: $border-width
    color: $color-black
    cursor: pointer
    font-size: $size-large
    font-weight: $weight-semibold
    line-height: 1
    outline: none
    padding: $gap-regular
    transition: background-color $transition $easing, border-color $transition $easing, color $transition $easing, background $transition-click
    background-position: center
    letter-spacing: .75px

    #{$self}__icon
      display: flex
      width: 48px
      justify-content: center

    &__text
      flex: 1
      flex-basis: 100%

    &#{ $self }
      &:disabled,
      &--is-disabled
        background-color: $color-monotone-lightness
        color: $color-monotone-light
        cursor: default
        pointer-events: none

      &--is-outline
        background-color: $color-white
        border-color: $color-monotone
        color: currentColor
        box-shadow: none

        &:hover,
        &:focus,
        &:active
          border-color: $color-dark-dark
          color: $color-dark-dark

      &--is-link
        background-color: transparent
        color: $color-secondary
        box-shadow: none

        &:hover,
          background-color: $color-secondary-100
        &:focus,
          background: $color-secondary-200 radial-gradient(circle, transparent 1%, $color-secondary-100 1%) center/15000%

        &:active
          background-color: $color-secondary-200
          background-size: 100%;
          transition: background 0s;

      @each $color, $value in $color-regular-map
        &--is-#{ $color }
          background-color: map-get($color-regular-map, $color)
          border-color: map-get($color-regular-map, $color)
          color: map-get($color-contrast-map, $color)

          &:hover
            background: map-get($color-dark-map, $color)
          
          &:focus
            background: map-get($color-dark-map, $color) radial-gradient(circle, transparent 1%, map-get($color-regular-map, $color) 1%) center/15000%

          &:active
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4), 0px 1px 1px rgba(0, 0, 0, 0.24);
            background-size: 100%;
            transition: background 0s;
            &#{ $self }--is-dragged
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.48)
              border: none
            
          &:disabled,
          &#{ $self }--is-disabled
            background-color: #cccccc
            border: none

          &#{ $self }--is-outline
            border-color: map-get($color-regular-map, $color)
            background-color: $color-white
            color: map-get($color-regular-map, $color)

            &:hover
              background: map-get($color-lightness-map, $color)

            &:focus
              background: map-get($color-light-map, $color) radial-gradient(circle, transparent 1%, map-get($color-contrast-map, $color) 1%) center/15000%
            
            &:active
              border-color: map-get($color-dark-map, $color)
              color: map-get($color-dark-map, $color)    
              background-size: 100%;
              transition: background 0s;

            &:disabled,
            &#{ $self }--is-disabled
              background-color: $color-white
              border-color: #cccccc
              border-style: solid
              border-width: $border-width
              color: #999999

          &#{ $self }--is-link
            background-color: transparent
            border: none
            color: map-get($color-regular-map, $color)

            &:hover
              background-color: map-get($color-lightness-map, $color)

            &:focus
              background: map-get($color-light-map, $color) radial-gradient(circle, transparent 1%, map-get($color-contrast-map, $color) 1%) center/15000%
            
            &:active
              border-color: map-get($color-dark-map, $color)
              color: map-get($color-dark-map, $color)    
              background-size: 100%;
              transition: background 0s;
      
