.button
  +flex-center(row)
  font-size: $size-regular
  font-weight: $weight-regular
  padding: $gap
  border-radius: $radius
  border-width: 1px
  border-style: solid
  width: auto
  line-height: 1

  .button
    @each $color, $value in $color-regular-map
      &--#{$color}
        color: $value
        border-color: map-get($color-dark-map, $color)
        &:hover
          background-color: map-get($color-dark-map, $color)
        &:active
          background-color: map-get($color-light-map, $color)
        &:focus
          background-color: map-get($color-darkness-map, $color)
        &:disabled
          background-color: map-get($color-lightness-map, $color)
          opacity: 0.8

+for-retina 
  .button
    border-width: 0.5px
